.sidebar {
  width: 25%;
  float: right;
  background-color: #D3D3D3;
  border: 3px dashed grey;
  padding: 6px;
  margin: 20px;
  }

.shows {
  text-align: right;
}

.image1 {
  float: left;
  width: 30%;
  padding: 10px;
}
